@keyframes phases_border {
	0% {
		border-color: red;
	}
	100% {
		border-color: lime;
	}
}

@keyframes fade_opacity {
	0% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.50;
	}
}

body {
	color: white;
	background-color: black;
}
